/*----------------------------------- GENERAL -----------------------------------*/

/* display, min-height and flex-direction are set so that footer stays on bottom of the screen */
body {
    display: flex;
    min-height: 100vh;
    min-width: 360px;
    flex-direction: column;
    background: url(/assets/img/bcg.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    /* this has to be set for footer to stay on bottom of the screen */
    flex: 1 0 auto;
}

.font-smaller {
    font-size: 0.9em;
}

.font-bigger {
    font-size: 1.2em;
}

.font-strong {
    font-weight: 500;
}

.color-grey {
    color: #694f43;
}

.faded {
    opacity: 0.8;
}

/* main headings */
h3 {
    margin: 55px 5px 35px;
    color: #694f43;
    font-weight: 400;
    font-size: 40px;
}

/* style button as link */
button.as-link {
    background: none;
    border: none;
    padding: 0;
}

/*----------------------------------- MAIN CONTAINER -----------------------------------*/

.container.main {
    max-width: 1030px;
}


/*----------------------------------- INBOX & SENT -----------------------------------*/

.collection a {
    color: inherit;
    display: block;
}

li.collection-item p.message {
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
}

/* Date for desktop: */
.date {
    float: right;
}

/* Date for mobile phones: */
@media only screen and (max-width: 500px) {
    .date {
        float: none;
        display: box;
    }
}


/*----------------------------------- SINGLE MESSAGE -----------------------------------*/

/* message card width */
.card.horizontal {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* form for buttons reply & delete */
form.delete-reply {
    display: inline;
}

/* To & Subject */
.message-heading {
    font-size: 1.1em;
    margin-bottom: 6px !important;
}

/* message text */
.message-text {
    font-size: 1.1em;
    font-weight: 300;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

/* previous message */
p.previous {
    font-size: 1.1em;
    font-weight: 300;
    opacity: 0.7;
    margin-top: 25px !important;
}

/* displays text in paragraphs */
p.paragraphs {
    white-space: pre-wrap;
}


/*----------------------------------- NEW MESSAGE -----------------------------------*/

.container.new-message {
    background: white;
    max-width: 830px;
    padding: 15px 35px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}


/*----------------------------------- REPLY MESSAGE -----------------------------------*/

/* previous message */
p.previous-message {
    margin-top: 5px;
    margin-bottom: 25px;
    opacity: 0.7;
}


/*----------------------------------- FOOTER -----------------------------------*/

/* footer height */
.page-footer {
    height: 60px;
    margin-top: 60px;
}

.footer-menu {
        float: right;
    }

@media only screen and (max-width: 410px) {
    .footer-menu {
        display: none;
    }
}

/* right links */
.footer-menu-item {
    padding-left: 20px;
}
