<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css" media="screen,projection"/>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <!--Import style.css-->
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper teal darken-1">
                <a href="/" class="brand-logo right">Bmail</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/inbox">Inbox
                        <!-- unread counter badge (to be incorporataed) -->
                        {% if unread_count %}
                        <span class="new badge"> {{ unread_count }} </span>
                        {% endif %}
                    </a></li>
                    <li><a href="/sent">Sent</a></li>
                    <li><a href="/new">New</a></li>
                    {% if logout_url %}
                    <li><a href="{{ logout_url }}">Logout</a></li>
                    {% endif %}
                </ul>
                <!--slide menu for small screens-->
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="/inbox">Inbox</a></li>
                    <li><a href="/sent">Sent</a></li>
                    <li><a href="/new">New</a></li>
                    {% if logout_url %}
                    <li><a href="{{ logout_url }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <main>

    {% block content %}{% endblock content %}

    </main>

    <footer class="page-footer teal darken-3">
        <div class="container">
            <!--copyright-->&copy
            <!--current year script-->
            <script type="text/javascript">document.write(new Date().getFullYear());</script> |
            <!--my website-->
            <a class="grey-text text-lighten-1" href="https://rspan.eu" target="_blank">rspan.eu</a>
            <!--footer menu-->
            <div class="footer-menu">
                <a class="footer-menu-item grey-text text-lighten-4" href="/inbox">Inbox</a>
                <a class="footer-menu-item grey-text text-lighten-4" href="/sent">Sent</a>
                <a class="footer-menu-item grey-text text-lighten-4" href="/new">New</a>
            </div>
        </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/js/scripts.js"></script>

</body>
</html>