{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class="container main">

    <h3 class="center">Hello, anonimous Ninja!</h3>
    <form action="/">
    <p class="center font-bigger color-grey">Login with a google account: <a href="{{ login_url }}">Login</a></p>
</form>
</div>

{% endblock content %}