{% extends "base.html" %}

{% block title %}Inbox{% endblock title %}

{% block content %}

<div class="container main">

    <a href="/inbox"><h3 class="center color-grey">Inbox</h3></a>

    <!-- 'undo button -->
    {% if deleted_message %}
    <form class="center" method="post" action="/delete/{{ deleted_message.key.id() }}">
        <input type="text" name="undo" hidden="hidden" value="True">
        <button class="color-grey as-link flow-text" type="submit">Undo delete</button>
    </form>
    {% endif %}

    <!-- inbox -->
    {% if inbox %}
    <ul class="collection">

        <!-- email item -->
        {% for message in inbox %}
        <li class="collection-item avatar">
            <a href="/message/{{ message.key.id() }}">
                <!-- avatar -->
                <i class="material-icons circle brown lighten-2">person</i>
                <!-- subject -->
                <span class="title {% if message.read %} light faded {% endif %}">{{ message.subject }}</span>
                <!-- message -->
                <p class="message {% if not message.read %} font-strong {% else %} faded {% endif %}">{{ message.message }}</p>
                <!-- from -->
                <span class="{% if message.read %} light faded {% endif %}">From: {{ message.sender }}</span>
                <!-- date -->
                <p class="date font-smaller {% if message.read %} light faded {% endif %}">{{ message.date.strftime('%b %d %Y, %H.%M') }}</p>
                <!-- star icon -->
                {% if not message.read %}
                <i class="secondary-content material-icons">grade</i>
                {% endif %}
            </a>
        </li>
        {% endfor %}

    </ul>
    {% endif %}

    <!-- "empty" message -->
    {% if not deleted_message %}
        {% if not inbox %}
        <p class="color-grey center font-bigger">Thats a bummer! No messages here.</p>
        {% endif %}
    {% endif %}

</div>

{% endblock content %}