{% extends "base.html" %}

{% block title %}View message{% endblock title %}

{% block content %}

<div class="container main">

    <h3 class="center">{{ message.subject }}</h3>

    <div class="row">
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <p class="message-heading">From: <span class="light">{{ message.sender }}</span></p>
                    <p class="paragraphs message-text">{{ message.message }}</p>
                    {% if replied_message %}
                    <p class="previous">
                        Re: {{ replied_message.message }}
                    </p>
                    {% endif %}
                </div>
                <div class="card-action">
                    <a href="/reply/{{ message.key.id() }}">Reply</a>
                    <form class="delete-reply" method="post" action="/delete/{{ message.key.id() }}">
                        <button class="as-link" type="submit"><a>Delete</a></button>
                    </form>
                    <span class="right light font-smaller">{{ message.date.strftime('%b %d %Y, %H.%M') }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
