{% extends "base.html" %}

{% block title %}New{% endblock title %}

{% block content %}

    <a href="/new"><h3 class="center">New</h3></a>

    <div class="container new-message">
        <div class="row">
            <form action="new" method="post" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="recipient" type="email" name="recipient" class="validate" required>
                        <label for="recipient">To:</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="subject" type="text" name="subject">
                        <label for="subject">Subject:</label>
                    </div>
                    <div class="input-field col s12">
                        <label for="message">Message:</label>
                        <textarea id="message" name="message" class="materialize-textarea" required></textarea>
                        <button class="btn waves-effect waves-light" type="submit">Send
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock content %}