{% extends "base.html" %}

{% block title %}Reply{% endblock title %}

{% block content %}

    <h3 class="center">New</h3>

    <div class="container new-message">
        <div class="row">
            <form action="/reply/{{ replied_message.key.id() }}" method="post" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="recipient" type="email" name="recipient" class="validate" value="{{ recipient }}" required>
                        <label for="recipient">To:</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="subject" type="text" name="subject" value="{{ subject }}">
                        <label for="subject">Subject:</label>
                    </div>
                    <div class="input-field col s12">
                        <label for="message">Message:</label>
                        <textarea id="message" name="message" class="materialize-textarea" required></textarea>
                        <p class="previous-message">Re: {{ replied_message.message }}</p>
                        <button class="btn waves-effect waves-light" type="submit">Send
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock content %}