{% extends "base.html" %}

{% block title %}Sent{% endblock title %}

{% block content %}

<div class="container main">

    <a href="/sent"><h3 class="center">Sent</h3></a>

    <!-- 'undo button -->
    {% if deleted_message %}
    <form class="center" method="post" action="/delete/{{ deleted_message.key.id() }}">
        <input type="text" name="undo" hidden="hidden" value="True">
        <button class="color-grey as-link flow-text" type="submit">Undo delete</button>
    </form>
    {% endif %}

    <!-- sent -->
    {% if sent %}
    <ul class="collection">

        <!-- email item -->
        {% for message in sent %}
        <li class="collection-item avatar">
            <a href="/message/{{ message.key.id() }}" style="display: block;">
                <!-- avatar -->
                <i class="material-icons circle brown lighten-2">person</i>
                <!-- subject -->
                <span class="title light faded">{{ message.subject }}</span>
                <!-- message -->
                <p class="message faded">{{ message.message }}</p>
                <!-- from -->
                <span class="light faded">To: {{ message.recipient }}</span>
                <!-- date -->
                <p class="date font-smaller light faded">{{ message.date.strftime('%b %d %Y, %H.%M') }}</p>
            </a>
        </li>
        {% endfor %}

    </ul>
    {% endif %}

    <!-- "empty" message -->
    {% if not deleted_message %}
        {% if not sent %}
        <p class="color-grey center font-bigger">Thats a bummer! No messages here.</p>
        {% endif %}
    {% endif %}

</div>

{% endblock content %}